.navbar{
    position: absolute;
    top:0;
    right:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 1.2rem;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}

.search-bar input{
    border:none;
    padding:0.5rem;
    width:350px;
    border-radius: 50px;
}

.site-links{
    display: flex;
}

.site-links a{
    margin: 0 1rem;
    color:#fff;
}


